{% load static %}
<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- ===== CSS ===== -->


        <!-- ===== BOX ICONS ===== -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>
<link rel="stylesheet" href="{% static 'assets/css/styles.css' %}">
        <style>
            :root{
                --first-color: #000000;
                --white-color: #FAFAFF;
                --dark-color: #2A3B47;
                --text-color: #697477;
            }
        </style>
        <title>Portfolio responsive complete</title>
    </head>
    <body>
        <!--===== HEADER =====-->
        <header class="l-header">
            <nav class="nav bd-grid">
                <div>
                    <a href="#" class="nav__logo">Ansh Khatri.</a>
                </div>

                <div class="nav__menu" id="nav-menu">
                    <ul class="nav__list">
                        <li class="nav__item"><a href="#home" class="nav__link active">Home</a></li>
                        <li class="nav__item"><a href="#about" class="nav__link">About</a></li>
                        <li class="nav__item"><a href="#skills" class="nav__link">Skills</a></li>
                        <li class="nav__item"><a href="#contact" class="nav__link">Contact</a></li>
                    </ul>
                </div>

                <div class="nav__toggle" id="nav-toggle">
                    <i class='bx bx-menu'></i>
                </div>
            </nav>
        </header>

        <main class="l-main">
            <!--===== HOME =====-->
            <section class="home" id="home">
                <div class="home__container bd-grid">
                    <h1 class="home__title"><span>HE</span><br>LLO.</h1>

                    <div class="home__scroll">
                        <a href="#about" class="home__scroll-link"><i class='bx bx-up-arrow-alt' ></i>Scroll down</a>
                    </div>


                </div>
            </section>
            
            <!--===== ABOUT =====-->
            <section class="about section" id="about">
                <h2 class="section-title">About</h2>

                <div class="about__container bd-grid">
                    <div class="about__img">
                        <img src="{% static 'assets/img/Profile.jpg' %}" alt="">
                    </div>

                    <div>
                        <h2 class="about__subtitle">I'am Ansh Khatri</h2>
                        <span class="about__profession">Computer Science Engineer</span>
                        <p class="about__text">Hi! I'm a final-year Computer Science Engineering student.
                             I have experience in Mobile Application Development; this is my first time creating a website.
                                I have always been excited about designing and developing new things therefore looking forward to having new
                                experiences </p>

                        <div class="about__social">
                            <a href="https://www.linkedin.com/in/ansh-khatri-7322961a6?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3B99sg3gRHQkiwj8WcSemZWQ%3D%3D" class="about__social-icon"><i class='bx bxl-linkedin' ></i></a>
                            <a href="https://github.com/QuAnTaMStRiKe" class="about__social-icon"><i class='bx bxl-github' ></i></a>
                            <a href="https://sites.google.com/view/hci-team4/home?authuser=0&pli=1" type="button" class=" about__social-icon btn btn-outline-secondary">Team 4</a>
                        </div>
                    </div>
                </div>
            </section>

            <!--===== SKILLS =====-->
            <section class="skills section" id="skills">
                <h2 class="section-title">Skills</h2>

                <div class="skills__container bd-grid">
                    <div class="skills__box">
                        <h3 class="skills__subtitle">Mobile Application Development</h3>
                        <span class="skills__name">Flutter</span>
                        <span class="skills__name">Dart</span>
                        <span class="skills__name">Kotlin</span>
                        <span class="skills__name">Android Studio</span>
                        <span class="skills__name">C/C++</span>
                        <span class="skills__name">Firebase</span>
                        <span class="skills__name">Data Structure</span>
                        
                        <h3 class="skills__subtitle">Design</h3>
                        <span class="skills__name">Figma</span>
                    </div>

                    <div class="skills__img">
                        <img src="{% static 'assets/img/Sk.jpeg' %}" alt="">
                    </div>
                </div>
            </section>



            <!--===== CONTACT =====-->
            <section class="contact section" id="contact">
                <h2 class="section-title">Contact</h2>

                <div class="contact__container bd-grid">
                    <div class="contact__info">
                        <h3 class="contact__subtitle">EMAIL</h3>
                        <span class="contact__text">anshkhatri6902@gmail.com</span>

                    </div>
                <div class="contact__info">

                        <h3 class="contact__subtitle">PHONE</h3>
                        <span class="contact__text">+1(352)871-7423</span>

                    </div>

                </div>
            </section>
        </main>

        <!--===== FOOTER =====-->
        <footer class="footer section">
            <div class="footer__container bd-grid">
                <div class="footer__data">
                    <h2 class="footer__title">Ansh Khatri</h2>
                    <p class="footer__text">I'm Ansh Khatri and this is my portfolio website</p>
                </div>

                <div class="footer__data">
                    <h2 class="footer__title">EXPLORE</h2>
                    <ul>
                        <li><a href="#home" class="footer__link">Home</a></li>
                        <li><a href="#about" class="footer__link">About</a></li>
                        <li><a href="#skills" class="footer__link">Skills</a></li>
                        <li><a href="#Contact" class="footer__link">Contact</a></li>
                    </ul>
                </div>
                
                <div class="footer__data">
                    <h2 class="footer__title">FOLLOW</h2>
                    <a href="https://instagram.com/ansh._.khatri?igshid=ZDdkNTZiNTM=" class="footer__social"><i class='bx bxl-instagram' ></i></a>
                    <a href="https://twitter.com/Ansh_khatri10?t=dd2j7WxrApcOhqSKTcZ9Cw&s=08" class="footer__social"><i class='bx bxl-twitter' ></i></a>
                    <a href="https://github.com/QuAnTaMStRiKe" class="footer__social"><i class='bx bxl-github' ></i></a>
                </div>


            </div>
        </footer>

        <!--===== SCROLL REVEAL =====-->
        <script src="https://unpkg.com/scrollreveal"></script>

        <!--===== MAIN JS =====-->
        <script src="{% static 'assets/js/main.js' %}"></script>

    </body>
</html>